<%= form_for(@question) do |f| %>
<% if @question.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @question.errors.count %>件のエラーがあります。
    </div>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: 'プログラミングに関しての質問は何ですか？具体的に書いてください。'  %>
</div>
<div class="form-group">
  <div id='editor'>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
    <div id="marked-area"></div>
  </div>
</div>
<!-- タグフォーム application.jsに処理記載 -->
<div class="form-group">
<%= f.label 'タグ' %>
<ul id="question-tags"></ul>
</div>
<%= f.submit '質問を投稿する', class: 'btn btn-primary btn-sm' %>
<% end %>
