<h2>アカウント凍結解除の確認</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント凍結解除の確認を行う" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
